*{
  margin: 0;
}
.app{
  background-color: #fafafa;
}
.app__signUp{
  display: flex;
  flex-direction: column;
}
.app__posts{
  padding: 20px;
  display: flex;
  justify-content: center;
}
.appposts__left{
  margin-right: 20px;
}
.appposts__right{
  margin-left: 10px;
}