.imageUpload{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
}
.imageUpload__progress{
    width: 100%;
}
.imageUpload__caption{
    margin-top: 5px;
    margin-bottom: 5px;
}
.imageUpload__file{
    margin-top: 5px;
    margin-bottom: 5px;
}
.imageUpload__button{
    margin-top: 5px;
    margin-bottom: 5px;
}