.sidebar{
    display: flex;
    flex-direction: column;

}
.sidebar > p {
    color: gray;
    font-size: smaller;
    font-weight: 500;
}
.sidebar__user{
    display: flex;
    align-items: center;
   
}
.sidebar__username{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.sidebar__username > h5{
    color: gray;
}
.sidebar__username > h4{
    font-weight: 500;
}
.sidebar__suggestions{
    display: flex;
    justify-content: space-between;
}
.sidebar__suggestions > h4 {
    font-weight: 600;
    color: gray;
}